<html>
    <head>
    </head>
    <body>
        {{ beginBody() }}

		<div class="ml-wrap">
			<p>{{ 'If this user exists within our system, your login link will be sent to the email address provided. Upon receiving this link, please click it in order to log in.'|t('magic-login') }}</p>
		</div>

		{% do view.registerAssetBundle("creode\\magiclogin\\assetbundles\\magiclogin\\MagicLoginAsset") %}

        {{ endBody() }}
    </body>
<html>